<style>
	.img1:hover{
		transform: scale(2,2);
	transition: 0.29s ease;
	}
	.img2:hover{
		transform: scale(2,2);
	transition: 0.29s ease;
	}
	.img3:hover{
		transform: scale(2,2);
	transition: 0.29s ease;
	}
	.img4:hover{
		transform: scale(2,2);
	transition: 0.29s ease;
	}
</style>
<!-- Page Content -->
    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Adizya - <br>
                {{product.name}}</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="/product/getImage/{{product.id}}" class="img1" alt=""style="height: 200px;width:200px;margin-bottom:5px;" >
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>PRODUCT DETAILS</h4>
              {{product.description}}<br>
                <br>
                <h4>Material & Care</h4>
                <h5 style="font-size:medium;">Material :</h5>{{product.material}}<br>
                <h5 style="font-size:medium;">Care :</h5>{{product.care}}<br><br>    
                         
                <h4>Complete The Look</h4>
                Comfortable and stylish, this kurta from Adizya is ideal for any fashionista. Sport this beige piece with studded flats and minimal jewellery for a simple yet stunning evening ensemble.<br>
                <br>
				
            </div>
			  <script>
		  //setting default attribute to disabled of minus button
		  document.querySelector(".minus-btn").setAttribute("disabled","disabled");
		  
		  //taking value to increment-decrement input value
		  var valueCount;
		  
		  //plus-btn
		  document.querySelector(".plus-btn").addEventListener("click",function(){
			  //getting value of input
			  valueCount=document.getElementById("quantity").value;
			  //input value increment by 1
			  valueCount++;
			  //setting increment input value
			  document.getElementById("quantity").value=valueCount;
		  })
		  
		  //minus-btn
		  document.querySelector(".minus-btn").addEventListener("click",function(){
			  //getting value of input
			  valueCount=document.getElementById("quantity").value;
			  //input value increment by 1
			  valueCount--;
			  //setting increment input value
			  document.getElementById("quantity").value=valueCount;
			  
			  if (valueCount>1)
				  {
					  document.querySelector(".minus-btn").removeAttribute("disabled");
					  document.querySelector(".minus-btn").classList.remove("disabled");
				  }
		  })
	  </script>
          </div>
        </div>
      </div>
    </div>
	  
	  
    
    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Additional Scripts -->
    <script src="/js/custom.js"></script>
    <script src="/js/owl.js"></script>
    <script src="/js/slick.js"></script>
    <script src="/js/isotope.js"></script>
    <script src="/js/accordions.js"></script>
    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>
